*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
__pycache__
_site
.Rproj.user
.Rhistory
.RData
data/*
_ipynb/.ipynb_checkpoints
_ipynb/dask-worker-space
_additional/*

_ipynb/data/*
# Code editors
*.sublime-*
*.pdf
